/** Fixed-pitch/monospaced font-family */
@font-face {
	font-family: mono;
	font-weight: normal;
	font-style: normal;
	font-variant-ligatures: contextual;
	src:
		local("Menlig"),
		local("Menlo"),
		local("Menloco"),
		local("Monaco"),
		local("SFMono-Regular"),
		local("Consolas"),
		local("Cousine"),
		local("Lucida Console"),
		local("Liberation Mono"),
		local("DejaVu Sans Mono"),
		local("Bitstream Vera Sans Mono"),
		local("Andale Mono"),
		local("Courier New"),
		local("Courier"),
		local("monospace");
}


/** Sharp-looking serif-fonts for technical docs */
@font-face {
	font-family: serifs;
	font-weight: normal;
	font-style: normal;
	src:
		local("Cambria"),
		local("Caladea"),
		local("Georgia"),
		local("Linux Libertine"),
		local("Liberation Serif"),
		local("Palatino Linotype"),
		local("Palatino"),
		local("Times New Roman"),
		local("Times"),
		local("serif");
}
