*{
	tab-size: 4;
	box-sizing: border-box;
}

html{
	font-family: Cambria, Times, serif;
}

body{
	padding: 1em;
}

header{
	padding-bottom: .5em;
	border-bottom: 1px solid #ccc;
	display: table;
	width: 100%;
}
	header > *{
		display: table-cell;
		text-align: right;
		margin: 0;
	}
	header > h1{
		font-size: 1em;
		font-weight: normal;
		text-transform: uppercase;
		text-align: left;
	}
	
	/** DRY hack for 3-part headers */
	header[title]{
		text-align: center;
	}
		header[title]::before,
		header[title]::after{
			content: attr(title);
			display: table-cell;
			text-transform: uppercase;
		}
		header[title]::before { text-align: left; }
		header[title]::after  { text-align: right; }
		header[title] > *     { text-align: center; }
		header[title] > h1    { display: none; }


h2{
	text-transform: uppercase;
	font-size: 1.25em;
	margin-bottom: .5em;
}

h3{
	margin-left: -1.5em;
	margin-bottom: .5em;
}
	h2 + p,
	h3 + p{
		margin-top: .5em;
	}

dd{
	margin: .25em 0 .5em 2.5em;
}
	dd > :first-child{
		margin-top: 0;
	}

dfn{
	font-weight: bold;
	font-style: normal;
}

kbd{
	font-weight: bold;
	white-space: nowrap;
}

samp kbd{
	font-weight: normal;
}

samp .prompt{
	-webkit-user-select: none;
	-moz-user-select:    none;
	user-select:         none;
}

figcaption{
	margin-left: -2.5em;
}


.usage{
	display: table;
}
	.usage > *{
		display: table-cell;
		vertical-align: top;
	}
	.usage > :first-child{
		padding-right: 1em;
	}
	.options{
		list-style: none;
		margin: 0;
		padding: 0;
	}
		.options > *{
			display: inline-block;
			font-family: inherit;
			white-space: nowrap;
		}

section[id]{
	padding-left: 3em;
}
	section[id] > h2{
		margin-left: -2.35em;
	}
